:root {
    --absolute-space: 10px;
}

/* Remise à zéro */
* {
    margin: 0;
    padding: 0;
}

/* Styles communs à tous les exemples et exercices */
.exercice {
    width: 800px;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid black;
}

.exercice h2 {
    background-color:  #333;
    color: white;
    padding: 8px;
    margin-bottom: 10px;
}

.boite {
    border: 1px solid black;
    padding: 10px;
    background-color: #eee;
}

/* Partie 1 - Positionnement statique */
#partie1 div {
    position: static; /*< Ne change rien à l'affichage */
}

/* Partie 2 - Relatif */
#exemple_relatif {
    position: relative;
    top: 25px;
    left: 40px;
    background-color: #aad4f5;
}

#ex21_a {
    position: relative;
    top: 50px;
    left: 20px;
    background-color: #f5c6aa;
}
#ex21_b {
    position: relative;
    top: -10px;
    background-color: #aaf5c6;
}
#ex21_c {
    position: relative;
    left: 100px;
    background-color: #c6aaf5;
}

#ex22_b2 {
    position: relative;
    top: 60px;
    background-color: #f5e6aa;
}

/* Partie 3 - Positionnement absolu */
#exemple_absolu {
    position: absolute;
    top: 25px;
    left: 40px;
    background-color: #f5aaaa;
}

#conteneur_relatif {
    position: relative;
}

#ex31_a, #ex31_b, #ex31_c {
    position: absolute;
}

#ex31_a {
    background-color: #f5c6aa;
    top: 0;
    left: 0;
}

#ex31_b {
    background-color: #aaf5c6;
    top: 0; 
    left: 350px;
}

#ex31_c {
    background-color: #c6aaf5;
    top: 0;
    right: 0;
}

#ex32_conteneur {
    position: relative;
    width: 400px;
    height: 200px;
    background-color: #ddd;
    border: 2px solid black;
}

#ex32_titre {
    position: absolute;
    top: var(--absolute-space);
    left: var(--absolute-space);
    background-color: #f5aaaa;
}

#ex32_bouton {
    position: absolute;
    bottom: var(--absolute-space);
    right: var(--absolute-space);
    background-color: #aaf5aa;
}

#ex32_etiquette {
    position: absolute;
    bottom: var(--absolute-space);
    left: var(--absolute-space);
    background-color: #aaaaff;
}
